/* breakpoints */
// xs: 0    - 500
// sm: 501  - 744
// md: 745  - 1024
// lg: 1025 +

// Breakpoints
$breakpoints: (
    "sm-up": (
        min-width: 501px
    ),
    "md-up": (
        min-width: 769px
    ),
    "lg-up": (
        min-width: 1025px
    ),
    "xs-down": (
        max-width: 480px
    ),
    "sm-down": (
        max-width: 768px
    ),
    "md-down": (
        max-width: 992px
    ),
    "xl-down": (
        max-width: 1024px
    )
) !default;

@mixin breakpoint($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Available breakpoints are: #{map-keys($breakpoints)}.';
    }
}
